# Python
__pycache__/
*.pyc
*.pyo
.venv/

# ROS / colcon build artifacts
build/
install/
log/
logs/

# STM32 firmware build outputs
*.o
*.d
*.elf
*.bin
!Software/stm_firmware/stm_firmware/firmware.bin

# Editor files
.vscode/
.idea/
