# Python
__pycache__/
*.pyc
*.pyo
.venv/

# ROS / colcon build artifacts
build/
install/
log/
logs/

# STM32 firmware build outputs
*.o
*.d
*.elf
*.bin

# PlatformIO build output (Software/nucleo)
Software/nucleo/.pio/

# Editor files
.vscode/
.idea/
nucleo_can_bridge/test_motor.py
nucleo_can_bridge copy/test_motor.py
nucleo_can_bridge copy/test_bridge.py
nucleo_can_bridge copy/test_boot.py
nucleo_can_bridge copy/test/README
nucleo_can_bridge copy/src/stm32f4xx_hal_conf.h
nucleo_can_bridge copy/src/main.c
nucleo_can_bridge copy/platformio.ini
nucleo_can_bridge copy/pc_control.py
nucleo_can_bridge copy/lib/README
nucleo_can_bridge copy/include/README
