BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "ESTOP_OK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "FB_CLOSED" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MCU_ALIVE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MCU_CMD_ARM" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "MCU_CMD_FAULT" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "OV" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "PRECHARGE_OK" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SW_ARM" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SW_COMPUTE" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SW_REMOTE_ARM" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "SW_RST_FAULT" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "UV" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "VBUS_OV" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "ARM_PERMIT" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "COMPUTE_EN" IO_TYPE=LVCMOS33 DRIVE=8 PULLMODE=NONE ;
IOBUF PORT "DUMP_EN" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "FAULT_CODE[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "FAULT_CODE[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "FAULT_CODE[2]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "FAULT_CODE[3]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "FAULT_LATCH" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "K_EN" IO_TYPE=LVCMOS33 DRIVE=12 PULLMODE=NONE ;
IOBUF PORT "K_SEL" IO_TYPE=LVCMOS33 DRIVE=12 PULLMODE=NONE ;
IOBUF PORT "MOTOR_EN" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "OVUV_OK" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "PRECHARGE_LATCH" IO_TYPE=LVCMOS33 PULLMODE=NONE DRIVE=4 ;
IOBUF PORT "PRECHARGE_REQ" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "STATE_CODE[0]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "STATE_CODE[1]" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "i2c1_scl" IO_TYPE=LVCMOS33 PULLMODE=NONE OPENDRAIN=ON ;
IOBUF PORT "i2c1_sda" IO_TYPE=LVCMOS33 PULLMODE=NONE OPENDRAIN=ON ;
LOCATE COMP "ARM_PERMIT" SITE "3" ;
LOCATE COMP "MCU_CMD_FAULT" SITE "37" ;
LOCATE COMP "MCU_ALIVE" SITE "40" ;
LOCATE COMP "MCU_CMD_ARM" SITE "38" ;
LOCATE COMP "PRECHARGE_OK" SITE "36" ;
LOCATE COMP "SW_COMPUTE" SITE "29" ;
LOCATE COMP "SW_ARM" SITE "27" ;
LOCATE COMP "SW_RST_FAULT" SITE "28" ;
LOCATE COMP "ESTOP_OK" SITE "31" ;
LOCATE COMP "OV" SITE "33" ;
LOCATE COMP "UV" SITE "34" ;
LOCATE COMP "VBUS_OV" SITE "35" ;
LOCATE COMP "FB_CLOSED" SITE "32" ;
IOBUF PORT "SPARE_OUT_0" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
IOBUF PORT "SPARE_OUT_1" IO_TYPE=LVCMOS33 DRIVE=4 PULLMODE=NONE ;
LOCATE COMP "COMPUTE_EN" SITE "18" ;
LOCATE COMP "DUMP_EN" SITE "5" ;
LOCATE COMP "FAULT_CODE[0]" SITE "7" ;
LOCATE COMP "FAULT_CODE[1]" SITE "8" ;
LOCATE COMP "FAULT_CODE[2]" SITE "9" ;
LOCATE COMP "FAULT_CODE[3]" SITE "10" ;
LOCATE COMP "FAULT_LATCH" SITE "21" ;
LOCATE COMP "K_EN" SITE "16" ;
LOCATE COMP "K_SEL" SITE "17" ;
LOCATE COMP "MOTOR_EN" SITE "19" ;
LOCATE COMP "OVUV_OK" SITE "2" ;
LOCATE COMP "PRECHARGE_LATCH" SITE "20" ;
LOCATE COMP "PRECHARGE_REQ" SITE "4" ;
LOCATE COMP "SPARE_OUT_0" SITE "14" ;
LOCATE COMP "SPARE_OUT_1" SITE "15" ;
LOCATE COMP "STATE_CODE[0]" SITE "11" ;
LOCATE COMP "STATE_CODE[1]" SITE "12" ;
LOCATE COMP "SW_REMOTE_ARM" SITE "26" ;
LOCATE COMP "SW_REMOTE_DISARM" SITE "24" ;
IOBUF PORT "SW_REMOTE_DISARM" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
